/*
    font-family: "Oswald", sans-serif;
    font-family: "Open Sans", sans-serif;

    Text color : #333;
    Dark blue : #345995;
    Light blue : #4392F1;
    Red : #D7263D;
    Yellow : #EAC435;
    Orange : #F46036;
*/
body {
    margin: 0;
    padding: 0;
    font-family: "Oswald", sans-serif;
    font-size: 15px;
    background-color: white;
    color: #333;
}
.wrap {
    margin: 0 auto;
    padding: 0;
    width: 1000px;
}
h1, h2 {
    margin: 0;
    padding: 0;
    font-family: "Oswald", sans-serif;
    font-weight: normal;
}
h1 {
    font-size: 110px;
}
h2 {
    font-size: 50px;
}
.spacer.v20 {
    height: 20px;
}
.spacer.v40 {
    height: 40px;
}
.spacer.v80 {
    height: 80px;
}
.clear {
    clear: both;
}
#promo,
#subscribe,
#footer {
    text-align: center;
    color: #fff;
    min-width: 1000px;
}
#promo {
    background-color: #F46036;
}
#promo > div {
    padding: 15px;
}
#topMenu {
    height: 60px;
}
#topLinks {
    float: right;
    padding-top: 20px;
}
#topLinks ul,
#footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#topLinks li{
    float: left;
}
#topLinks li a {
    color: #333;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    transition: all 250ms ease-out;
}
#topLinks li a:hover {
    color: #4392F1;
    transition: all 250ms ease-out;
    text-decoration: underline;
    cursor: pointer;
}
#topMenu .logo {
    float: left;
    padding-top: 13px;
    font-size: 24px;
    color: #333;
    text-decoration: none;
}
#topMenu .logo:hover {
    color: #4392F1;
}
.logo {
    font-family: "Anton", cursive;
    text-align: center;
}
#banner {
    background-image: url("../banner.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    width: 100%;
    text-align: center;
    padding-top: 300px;
    color: #333
}
#banner .logo {
    margin-top: 20px;
}
#banner #action {
    font-weight: bold;
    width: 200px;
    margin: 20px auto 0 auto;
}
#banner #action a {
    transition: all 250ms ease-out;
    padding: 20px;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    background-color: #4392F1;
}
#banner #action a:hover {
    transition: all 250ms ease-out;
    background-color: #F46036;
    padding: 20px 40px;
}
.feature .leftColumn {
    width: 50%;
    float: left;
    text-align: center;
}
.feature .rightColumn {
    margin-left: 50%;
    width: 50%;
    text-align: center;
}
.feature .leftColumn .text,
.feature .rightColumn .text {
    padding: 80px 20px 20px 20px;
    min-height: 260px;
}
.feature .leftColumn .text a,
.feature .rightColumn .text a {
    transition: all 250ms ease-out;
    padding: 20px;
    background-color: #4392F1;
    color: white;
    text-decoration: none;
    border-radius: 30px;
}
.feature .leftColumn .text a:hover,
.feature .rightColumn .text a:hover {
    transition: all 250ms ease-out;
    background-color: #F46036;
    text-decoration: none;
    padding: 20px 20px;
}
.feature hr {
    background-color: #333;
    height: 1px;
    border: 0;
    width: 50px;
}
.featureImage img {
    width: 500px;
}
.feature .leftColumn .text a.emailLink,
.feature .rightColumn .text a.emailLink {
    color: white;
    text-decoration: none;
    transition: none;
    padding: 10px;
    border: 0;
    background-color: #4392F1;
}
.feature .leftColumn .text a.emailLink:hover,
.feature .rightColumn .text a.emailLink:hover {
    transition: all 250ms ease-out;
    background-color: #F46036;
}
.middleImage {
    text-align: center;
}
.middleImage img {
    max-width: 1000px;
}
#scrollToTop {
    display: none;
    opacity: .5;
    background-color: #F46036;
    padding: 0 20px;
    color: white;
    width: 26px;
    font-size: 40px;
    line-height: 48px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    border: 1px solid white;
    border-radius: 30px;
}
#scrollToTop:hover {
    opacity: 1;
    transition: all 250ms linear;
    cursor: pointer;
}
.contactMap {
    width: 100%;
    height: 400px;
}
#subscribe {
    background-color: #4392F1;
    height: 160px;
    padding-top: 40px;
}
#subscribe h2 {
    margin: 15px 0 20px 0;
    color: white;
    font-size: 24px;
    font-family: "Oswald", sans-serif;
    font-weight: bold;
}
#subscribe input[type=text] {
    border: 0;
    width: 250px;
    height: 28px;
    font-size: 14px;
    padding: 0 10px;
    border-radius: 30px;
}
#subscribe input[type=submit] {
    border: 0;
    width: 80px;
    height: 30px;
    font-size: 14px;
    background-color: #345995;
    color: white;
    border-radius: 30px;
    transition: all 500ms ease-out;
    cursor:pointer; 
}
#subscribe input[type=submit]:hover {
    background-color: #F46036;
    transition: all 250ms ease-out;
}
#footer {
    background-color: #F46036;
    height: 80px;
}
#footer ul {
    list-style-type: none;
    margin: 28px 0 0 0;
    padding: 0;
    overflow: hidden;
    display: inline-block;
}
#footer li {
    float: left;
}
#footer li a {
    color: white;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-size: 18px;
    transition: all 250ms linear;
}
#footer li a:hover{
    color: #333;
    transition: all 250ms linear;
}
#copyright {
    text-align: center;
    background-color: #345995;
    color: white;
    height: 40px;
    padding-top: 18px;
    font-size: 16px;
}
#copyright .logo {
    font-family: "Oswald", sans-serif;
    font-weight: bold;


}
#about {
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    background-color: #F46036;
    text-align: center;
}
#about-home a {
    border: 0;
    color: #333;
    text-align: center;
    padding: 16px;
    background-color: #4392F1;
    border-radius: 30px;
    text-decoration: none;
    transition: all 250ms ease-out;
    margin: 20px auto 0 auto;
}
#about-home a:hover {
        color: #4392F1;
        background-color: #F46036;
        transition: all 250ms ease-out;
        text-decoration: underline;
        padding: 20px 40px;

}
#about-heading {
    text-align: center;
    color: #333;
    background-color: #4392F1;
}